.navbar-photo {
  position: fixed;
  left: 10px;
  top: 10px;
  width: 50px;
  border-radius: 50%;
  z-index: 3;
  display: flex;
}

.navbar_blumpa {
  background-color: #82c0e8;
  top: 0px;
  left: 0px;
  right: 0px;
  margin-top: 0px;
  text-align: center;
  vertical-align: middle;
  height: 70px;
  position: fixed;
  width: 100%;
  align-items: center;
  background-color: #82c0e8;
  color: black;
}

.footer {
  position: fixed;
  height: 20px;
  background-color: #82c0e8;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  color: black;
  text-align: center;
  vertical-align: middle;
}

.container {
  margin-top:70px;
  width: 600px;
  height: 70vh;
}

.card {
  color: black;
  position: relative;
  margin-right: 20px;
  margin-top: 20px;
  background-color: rgba(51,51,51,0.08);
  border-radius: 5px;
  padding: 7px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.card:hover{
  opacity: 0.5;
}

body {
  margin-bottom:50px;
}
