<h3> Ola <%= @product.client.name %> </h3>

<p> O produto <%= @product.description %> foi apagado com sucesso !!! </p>

<p> Caso precise criar um novo produto, basta entrar na nossa plataforma novamente!!! </p>

<p> Obrigado por utilizar os serviços da Blumpa. </p>
